<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
    </head>
    <body>
        <h1>All Students</h1>
		<div th:each="student, iterationStatus: ${students}" th:class="${iterationStatus.odd} ? 'odd'">
			<h3 th:text="'No. ' + ${iterationStatus.count}">No. 1</h3>
			<h3 th:text="'NPM =  ' + ${student.npm}">Student NPM</h3>
			<h3 th:text="'Name =  ' + ${student.name}">Student Name</h3>
			<h3 th:text="'GPA = ' + ${student.gpa}">Student GPA</h3>
			<h3 th:text="${student.gpa} >= 3.49 ? 'Cum Laude!' : 'Sangat Memuaskan!'" >Cum Laude!</h3>
		</div>
    </body>
</html>
